<div class='product-card'>
    <img src='{{product.image}}' alt='{{product.description}}'>
    <h3 class='product-card__name'>{{ product.title }}</h3>
    <p class='product-card__price'>Price: ${{ product.price }}</p>
    {% if product.tags %}
        <ul>
            {% for tag in product.tags %}
                <li class='product-card__tag'>{{ tag }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <button type='button' class='product-card__add-button'>
        <span class='sr-only'>add to cart</span>
        cart
    </button>
</div>
